/* ======================body 설정============================== */
@font-face {
    font-family: 'Caveat';
    src: url(font/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'SkyBori';
    src: url(font/SKYBORI.ttf);
}

.font_Caveat {
    font-family: 'Caveat';
}

.font_SkyBori {
    font-family: 'SkyBori';
}

body {
    margin: 0;
    height: 2000px;
    font-family: Arial, Helvetica, sans-serif;
}


/* =======================================사이드메뉴설정================================== */

.side_menu {
    position: fixed;
    background-color: rgb(219, 236, 239);
    right: 1px;
    top: 50%;
    border-radius: 10px;
}

.side_menu ul {
    list-style-type: none;
    padding: 0;
}

.side_menu ul li {
    padding: 10px 10px;
    text-align: center;
}

.side_menu ul li:hover {
    background-color: white;
}

/* ==================================메인 홈 설정들================================== */
.main_img {
    width: 100%;
    z-index: 1;
    /* height: 600px; */
}

.title {
    position: absolute;
    top: 400px;
    font-size: 50px;
    z-index: 2;
}

.container_intro {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(500px, auto));
    column-gap: 5px;
    row-gap: 50px; */
}

.inner_intro {
    display: flex;
    background-color: rgb(197, 227, 241);
    text-align: center;
    align-items: center;
}

.intro_text {
    padding-left: 300px;
}

.intro_img1 {
    width: 300px;
    padding-bottom: 50px;
    margin: 0 10px 0 40px;
}

.intro_img2 {
    width: 350px;
    padding: 20px 0;
}

/* ==================================네비바 설정들=================================== */
.nav_bar {
    background-color: rgb(248, 249, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    z-index: 3;
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    list-style: none;
}

.logo li {
    padding: 0 10px;
}

.airplane_img {
    width: 70px;
    padding-top: 10px;
}

.nav_menu {
    display: flex;
    list-style: none;
}

.nav_menu li {
    padding: 0 50px;
}

.nav_menu2 {
    display: flex;
    list-style: none;
}

.nav_menu2 li {
    /* padding: 0 20px; */
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: black;
}



/* =======================================fade in fade out================================ */
.fade_left {
    margin-right: 50px;
    opacity: 0;
    transition: all 1.5s;
}

.fade_right {
    margin-left: 50px;
    opacity: 0;
    transition: all 1.5s;
}

.fade_top {
    margin-top: 50px;
    opacity: 0;
    transition: all 1.5s;
}

.appear_text {
    opacity: 0;
    transition: all 1.5s;
}



/* ======================================grid 설정들================================= */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(3, minmax(50px, auto));
    column-gap: 5px;
    row-gap: 50px;
}

.container .item td img {
    width: 70%;
    height: auto;
    padding-left: 20px;
    z-index: 10;
}

.container .item {
    text-align: center;
}

.container .item td {
    padding-top: 70px;
}

.item_color {
    background-color: rgb(219, 236, 239);
}

.item-slider {
    background-color:rgb(197, 227, 241);
    text-align: center;
}




/* ===================================이미지 슬라이더============================== */
.box {
    width: 400px;
    margin: 0 auto; /**중앙정렬**/
}

.slider {
    width: 400px;
    padding-top: 20px;
    overflow: hidden;
}

.slides_day2 {
    display: flex;
    transition: transform 1s;
}

.slides_day3 {
    display: flex;
    transition: transform 1s;
}

.slides_day4 {
    display: flex;
    transition: transform 1s;
}

.slides_day5 {
    display: flex;
    transition: transform 1s;
}

#NextBtn {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px
}

#PrevBtn {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px
}

/* =======================================footer 설정====================================== */
footer {
    background-color: aliceblue;
    padding: 10px;
    padding-top: 20px;
}

footer nav a {
    padding: 10px;
}

footer p span {
    padding: 10px;
}




.space_50px {
    height: 50px;
}

.space {
    height: 250px;
}
